HELP.md
/.metadata
/commons/target/
/commons-alumnos/target/
/commons-examanes/target/
/microservices/target/
/microservicio-cursos/target/
/MicroserviciosEureka/target/
/microservicio-examenes/target/
/microservicioZuul/target/
/commons/bin/
/commons-alumnos/bin/
/commons-examanes/bin/
/microservices/bin/
/microservicio-cursos/bin/
/MicroserviciosEureka/bin/
/microservicio-examenes/bin/
/microservicioZuul/bin/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
